# backend
flask
torch==2.3.0
torchaudio
urllib3
loralib
accelerate

# frontend
streamlit==1.40.0
streamlit-float==0.3.5
streamlit-option-menu==0.3.2
audio_recorder_streamlit
openai
python-dotenv
fastapi
